<div class="task-list">
  <h2>Lista de Tareas</h2>

  <div class="filters">
    <span class="filter">
      <button (click)="allTasks()">Todas</button>
    </span>
    <span class="filter">
      <button (click)="successTasks()">Completadas</button>
    </span>
    <span class="filter">
      <button (click)="pendingTasks()">Pendientes</button>
    </span>
  </div>

  <div *ngFor="let task of tasksFiltered; let i = index" class="task-item"[class.success]="task.success">
    <div class="task-header">
      <span class="task-number">{{ i + 1 }}.</span>
      <span class="task-status">
        <input type="checkbox" [checked]="task.success" (change)="toggleTask(task.id)" />
      </span>
      <span class="task-title">{{ task.name }}</span>
      <span class="task-date">{{ task.deadline }}</span>
    </div>
    <div class="task-details">
      <p>Personas Asociadas:</p>
      <ul>
        <li *ngFor="let responsible of task.responsibles">
          - {{ responsible.fullName }}
          <span class="person-age">({{ responsible.age }})</span>
          <br />
          <span class="person-skills">Habilidades: </span>
        </li>
      </ul>
    </div>
  </div>
</div>
