<div class="task-list">
  <h2>Lista de Tareas</h2>

  <div class="filters">
    <span class="filter">
      <button (click)="allTasks()">Todas</button>
    </span>
    <span class="filter">
      <button (click)="successTasks()">Completadas</button>
    </span>
    <span class="filter">
      <button (click)="pendingTasks()">Pendientes</button>
    </span>
  </div>

  <div
    *ngFor="let todo of todos$ | async; let i = index"
    class="task-item"
    [class.success]="todo.success"
  >
    <div class="task-header">
      <span class="task-number">{{ i + 1 }}.</span>
      <span class="task-status">
        <input
          type="checkbox"
          [checked]="todo.success"
          (change)="toggleTodoSuccess(todo)"
        />
      </span>
      <span class="task-title">{{ todo.name }}</span>
      <span class="task-date">{{ todo.deadline }}</span>
    </div>
    <div class="task-details">
      <p>Personas Asociadas:</p>
      <ul>
        <li *ngFor="let responsible of todo.responsibles">
          - {{ responsible.fullName }}
          <span class="person-age">({{ responsible.age }})</span>
          <br />
          <span class="person-skills">Habilidades: </span>
          <ul>
            <li *ngFor="let skill of responsible.skills">
              {{ skill.skill }}
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
